<div class="navbar">
  <div class="logo">Anuncia Picos!</div>

  <div class="search-container">
    <input type="text" class="search-box" placeholder="Buscar produtos" />
  </div>

  <div class="icons">
    <a href="/perfil" class="icon">
      <i class="fas fa-user"></i>
    </a>
    <a href="/carrinho" class="icon">
      <i class="fas fa-shopping-cart"></i>
    </a>
  </div>
</div>
