<nav class="navbar">
  <div class="logo">Anuncia Picos!</div>
  <div class="search-container">
    <input type="text" class="search-box" placeholder="Buscar produtos, marcas e mais...">
  </div>
  <div class="icons">
    <div class="icon">
      <i class="fas fa-user"></i>
    </div>
    <div class="icon">
      <i class="far fa-heart"></i>
    </div>
    <div class="icon">
      <i class="fas fa-bell"></i>
    </div>
  </div>
</nav>

