@page "/Cadastro"

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Crie Sua Conta</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="container">
  <h2>Cadastro no Anucia Picos</h2>
  <form id="registrationForm">
    <input type="text" id="Nome" placeholder="Nome" required>
    <input type="email" id="Email" placeholder="Email" required>
    <input type="text" id="CPF" placeholder="CPF" maxlength="14" required>
    <input type="text" id="Telefone" placeholder="Telefone (XX) XXXXX-XXXX" maxlength="15" required>
    <input type="password" id="Password" placeholder="Senha" required>
    <input type="password" id="ConfirmPassword" placeholder="Confirmar Senha" required>
    <button type="submit">Cadastrar</button>
       <NavLink class="cadlink" href="/Login">Não tem conta? Cadastre-se</NavLink>
    <p class="message" id="message"></p>
  </form>
</div>
</body>
</html>