@page "/Login"
<div class="login-container">
    <div class="left-side">
        <h1>Anuncia Picos!</h1>
        <img src="images/Logo.png" alt="Logo Anuncia Picos">
        <h2>Encontre as melhores oportunidades perto de você no Anuncia Picos</h2>
        <p>"Descubra ofertas incríveis e negocie com facilidade no Anuncia Picos! TESTE"</p>
    </div>
    <div class="right-side">
        <h3>Bem-vindo ao Anuncia Picos! Estamos felizes em tê-lo conosco.</h3>
        <div class="logins">
            <button class="google-btn"><i class="fab fa-google"></i> Entrar com o Google</button>
            <button class="facebook-btn"><i class="fab fa-facebook-f"></i> Entrar com o Facebook</button>
        </div>

        <form id="loginForm">
            <div class="input-container">
                <label for="Email">Email ou Usuário:</label>
                <input type="email" id="Email" placeholder="Email" required>
            </div>

            <div class="input-container">
                <label for="Password">Digite sua senha:</label>
                <div class="password-container">
                    <input type="password" id="Password" placeholder="Senha" required>
                    <span id="togglePassword" class="eye-icon">&#128065;</span>
                </div>
            </div>

            <!-- Botão de login centralizado -->
            <button type="submit" class="login-btn">LOGIN</button>

            <!-- Botão "Esqueci minha senha" -->
            <button type="button" class="reclink" onclick="window.location.href='/RecSenhaEmail'">
  ESQUECI MINHA SENHA!
</button>



            <div class="links">
                <a href="/Cadastro" class="cadlink">Não tem uma conta ainda? CADASTRE-SE</a>
            </div>
        </form>
    </div>
</div>
