
@page "/Login"
<!DOCTYPE html>
<html lang="Ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar no Anuncia Picos</title>
</head>
<body>
    <div class="container">
    <h2>Entrar no Anuncia Picos</h2>
    <form id="loginForm">
        <input type="email" id="Email" placeholder="Email" required>
        <input type="password" id="Password" placeholder="Senha" required>
        <button type="submit">Entrar</button>
        <a href="/RecSenhaEmail" class="reclink">Esqueceu a senha? Clique aqui</a>
    
        <a href="/Cadastro" class="cadlink">Não Possui uma conta? Cadastre-se aqui</a>
        <p class="message" id="message"></p>
    </form>
</div>

</body>
</html>
