@page "/Planos"

 <div class="planos-container">
    <h1>Escolha seu plano</h1>
    <div class="planos-cards">
        <div class="card">
            <h2>Free</h2>
            <p class="preco">R$0<span>/mês</span></p>
            <ul>
                <li>✔ Consumo de recursos</li>
                <li>✔ Postagem ilimitada</li>
                <li>✔ Chat de negociação</li>
            </ul>
            <button>Quero esse!</button>
        </div>
        <div class="card">
            <h2>Premium</h2>
            <p class="preco">R$30<span>/mês</span></p>
            <ul>
                <li>✔ Consumo de recursos</li>
                <li>✔ Postagem ilimitada</li>
                <li>✔ Chat de negociação</li>
                <li>✔ 10 anúncios por mês</li>
            </ul>
            <button>Quero esse!</button>
        </div>
        <div class="card">
            <h2>Business</h2>
            <p class="preco">R$60<span>/mês</span></p>
            <ul>
                <li>✔ Consumo de recursos</li>
                <li>✔ Postagem ilimitada</li>
                <li>✔ Chat de negociação</li>
                <li>✔ 30 anúncios por mês</li>
            </ul>
            <button>Quero esse!</button>
        </div>
    </div>
</div>
