@page "/TrocarSenha"
<div class="register-container">
    <div class="left-side">
        <h1>Anuncia Picos!</h1>
        <img src="images/Logo.png" alt="Logo Anuncia Picos">
        <h2>Encontre as melhores oportunidades perto de você no Anuncia Picos!</h2>
        <p>"Descubra ofertas incríveis e negocie com facilidade no Anuncia Picos!"</p>
    </div>
    <div class="right-side">
        <h3>Redefina sua senha</h3>
        <form id="registerForm">
           

            <!-- Novo campo de senha -->
            <div class="input-container">
                <label for="Password">Nova Senha:</label>
                <input type="password" id="Password" placeholder="Digite sua nova senha" required>
            </div>

            <!-- Confirmar senha -->
            <div class="input-container">
                <label for="ConfirmPassword">Confirmar Senha:</label>
                <input type="password" id="ConfirmPassword" placeholder="Confirme sua nova senha" required>
            </div>

            <div class="form-actions">
              
                <button type="submit" class="register-btn">REDIFINIR SENHA</button>
            </div>

        </form>
    </div>
</div>
