@page "/TrocarSenha"
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <div class="form">
            <h2>Redefinir Senha</h2>
            <p>Digite sua nova senha para redefinir o acesso à sua conta.</p>
            <form id="recoveryForm">
                <input type="password" id="password" placeholder="Nova senha" required>
                <input type="password" id="confirmPassword" placeholder="Confirme sua senha" required>
                <button type="submit">Alterar Senha</button>
                
                <p class="message" id="message"></p>
            </form>
        </div>
    </div>

</body>
</html>